{% extends "horarios/ws/layout.html" %}

{% block content %}
<div class="container">
<div class="row">

    <div class="col-md-9">

      
		<div class="row">         
            <!-- center left-->	
         	<div class="col-md-9">
			 <hr>
              
              <div class="panel panel-default">

                  <div class="panel-body">

                    <img src="{{ STATIC_URL }}img/Logo.png" class="img-responsive" alt="Universidad Tecnologica de la Mixteca"></div>
                    
                    </div>

                  </div><!--/panel-body-->
              </div><!--/panel-->
      </div><!--/row-->
      
     
      
      
  	</div><!--/col-span-9-->

<!-- /Main -->

{% endblock content %}
