{% extends "horarios/ws/layout.html" %}

{% block content %}


            <!-- center left-->

          <div class="col-md-6">
                <div class="col-md-6 col-md-offset-12">
                         <div data-alerts="alerts" data-titles="{&quot;success&quot;: &quot;&lt;em&gt;Registro Agregado!&lt;/em&gt;&quot;}" data-ids="myid" data-fade="10000"> </div>
                 </div>
               <hr>

              <div class="panel panel-default">

                    <div class="panel-heading"><h4>Registrar Recurso de Asignatura</h4></div>

                    <div class="panel-body">

                       <div class="row">
                            <div class="col-md-10">
                              <form action="/registroasignaturarecurso" method="post">{% csrf_token %}
                          <div class="control-group">
                          <h4>Asignatura</h4>
                          <div class="controls">
                             <select name="asignatura_id" class="form-control">
                             <option>Asignatura 1</option>

                                </select>
                          </div>

                         <h4>Recurso</h4>
                          <div class="controls">
                             <select name="recurso_id" class="form-control">
                            <option>Recurso 1</option>

                             </select>
                          </div>

                        </div>
                                <div class="control-group">
                          <h4>Cantidad</h4>
                          <div class="controls">
                           <input type="text" name="cantidad" class="form-control" placeholder="Ingrese la Cantidad">
                          </div>


                        </div>





                                  <div class="controls">
                                   <br/>
                                   <button id="warn-me" type="submit" class="btn btn-primary">
                                      Guardar
                                   </button>
                                     <hr>
                                </div>
                              </form>
                            </div>

                       </div>
                    </div>

              </div>
          </div>

{% endblock content %}
