{% extends "horarios/ws/layout.html" %}

{% block content %}


            <!-- center left-->

          <div class="col-md-6">
                <div class="col-md-6 col-md-offset-12">
                         <div data-alerts="alerts" data-titles="{&quot;success&quot;: &quot;&lt;em&gt;Registro Agregado!&lt;/em&gt;&quot;}" data-ids="myid" data-fade="10000"> </div>
                 </div>
               <hr>

              <div class="panel panel-default">

                    <div class="panel-heading"><h4>Registrar Asignatura</h4></div>

                    <div class="panel-body">

                       <div class="row">
                            <div class="col-md-10">
                              <form action="/registroasignatura" method="post">{% csrf_token %}
                                <div class="control-group">
                          <h4>Año de Vigencia</h4>
                          <div class="controls">
                           <input type="text" name="anio" class="form-control" placeholder="Ingrese el Año de Vigencia">
                          </div>
                   
                          <h4>Periodo</h4>
                          <div class="controls">
                           <input type="text" name="periodo" class="form-control" placeholder="Ingrese el Periodo del Actividad A o B">
                          </div>
                        </div>  
                       
                                               
                        <div class="control-group">                          
                          <h4>Asignatura</h4>
                          <div class="controls">
                             <select name="carrera" class="form-control">
                             <option>Ingenieria en Alimentos</option>
                              <option>Ingenieria en Computación</option>
                              <option>Ingenieria en Diseño</option>
                              <option>Ingenieria en Electrónica</option>
                             <option>Ingenieria en Mecatrónica</option>
                             <option>Ingenieria en Industrial</option>
                             <option>Ingenieria Industrial</option>
                             <option>Ingenieria en Física Aplicada</option>
                             <option>Licenciatura en Ciencias Empresariales </option>
                             <option>Licenciatura en Matemáticas Aplicadas </option>
                             <option>Licenciatura en Estudios Mexicanos </option>
                                </select>
                          </div>
                           <h4>Profesor</h4>
                          <div class="controls">
                             <select name="semestre" class="form-control">
                            <option>1</option>
                             <option>2</option>
                             <option>3</option>
                             <option>4</option>
                             <option>5</option>
                             <option>6</option>
                             <option>7</option>
                             <option>8</option>
                             <option>9</option>
                             <option>10</option>
                              </select>
                          </div>
                         <h4>Lugar</h4>

                          
                        </div>  
                        <div class="control-group">

                          <h4>Comentarios</h4>
                          <div class="controls">
                            <textarea name="comentario" class="form-control"></textarea>
                          </div>
                        </div>   

                                  <div class="controls">
                                   <br/>
                                   <button id="warn-me" type="submit" class="btn btn-primary">
                                      Guardar
                                   </button>
                                     <hr>
                                </div>
                              </form>
                            </div>

                       </div>
                    </div>

              </div>
          </div>

{% endblock content %}
